body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.fullscreen {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.wire {
  border: 1px solid rgb(80, 80, 80);
}

.page {
  height: 100%;
  display: flex;
}

.side-menu {
  width: 20%;
  height: 100%;
}

.display-window {
  height: 100%;
  width: 100%;
  padding: 2%;
}

.white {
  background-color: rgb(18, 18, 18);
}
